{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block body %}

<h2>Recipes Page</h2>

    <form action="{% url 'products' %}" method="post">

        {% csrf_token %}
        {{recipesForm}}

        <input type="submit" value="Add recipe" class="btn btn-success">
    </form>

<div class="btn-group-vertica" role="group" aria-label="Basic example">
{% for recipe in recipes %}
    <a href="{% url 'view recipe' recipe.id %}" class="btn btn-success">{{ recipe.name }}</a>
{% endfor %}
</div>


{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
{% endif %}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}

{% for num in recipes.paginator.page_range %}
  {% ifequal num recipes.number %}
    <span class="current"><b>{{ num }}</b></span>
  {% else %}
    <a href="?page={{ num }}"> {{ num }}</a>
  {% endifequal %}
{% endfor %}

{% include "paginator.html" %}

{% endblock %}