{% extends 'base.html' %}
{% load static %}

{% block title %} Products {% endblock %}

{% block search %}

    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}

{% block body %}

<h2>Recipes Page</h2>

    <form action="{% url 'products' %}" method="post">

        {% csrf_token %}
        {{recipesForm}}

        <input type="submit" value="Add recipe" class="btn btn-success">
    </form>

<div class="btn-group-vertica" role="group" aria-label="Basic example">
{% for recipe in recipes %}
    <a href="{% url 'view recipe' recipe.id %}" class="btn btn-outline-primary">
    <div class="row">

        <div class="col-md-12">

            <img src="{% static recipe.url  %}" alt="{% static 'images/1.jpj' %}" class="img-responsive">
            <div class="carousel-caption">
              <h2>{{recipe.name}}</h2>
            </div>

        </div>
    </div>
        </a>
{% endfor %}
</div>


{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a>
{% endif %}

{% for num in page_obj.paginator %}
  {% ifequal num.number page_obj.number %}
    <span class="current"><b>{{ num.number }}</b></span>
  {% else %}
    <a href="?page={{ num.number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> {{ num.number }}</a>
  {% endifequal %}
{% endfor %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
{% endif %}

{% endblock %}